In [1]:
import pandas as pd
df = pd.read_csv('/home/sarang/Desktop/AML-pro-assignment/Assignment-dataset/train.csv')

In [2]:
df.columns

Index(['id', 'car_name', 'yr_mfr', 'fuel_type', 'kms_run', 'sale_price',
       'city', 'times_viewed', 'body_type', 'transmission', 'variant',
       'assured_buy', 'registered_city', 'registered_state', 'is_hot', 'rto',
       'source', 'make', 'model', 'car_availability', 'total_owners',
       'broker_quote', 'original_price', 'car_rating', 'ad_created_on',
       'fitness_certificate', 'emi_starts_from', 'booking_down_pymnt',
       'reserved', 'warranty_avail'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6399 entries, 0 to 6398
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   6399 non-null   int64
 1   car_name             6399 non-null   object
 2   yr_mfr               6399 non-null   int64
 3   fuel_type            6399 non-null   object
 4   kms_run              6399 non-null   int64
 5   sale_price           6399 non-null   int64
 6   city                 6399 non-null   object
 7   times_viewed         6399 non-null   int64
 8   body_type            6309 non-null   object
 9   transmission         5925 non-null   object
 10  variant              6399 non-null   object
 11  assured_buy          6399 non-null   bool
 12  registered_city      6391 non-null   object
 13  registered_state     6391 non-null   object
 14  is_hot               6399 non-null   bool
 15  rto                  6399 non-null   object
 16  source               6285 non-null   object
 17  make                 6399 non-null   object
 18  model                6399 non-null   object
 19  car_availability     5857 non-null   object
 20  total_owners         6399 non-null   int64
 21  broker_quote         6399 non-null   int64
 22  original_price       3575 non-null   float64
 23  car_rating           6392 non-null   object
 24  ad_created_on        6398 non-null   object
 25  fitness_certificate  6391 non-null   object
 26  emi_starts_from      6399 non-null   int64
 27  booking_down_pymnt   6399 non-null   int64
 28  reserved             6399 non-null   bool
 29  warranty_avail       6399 non-null   bool
dtypes: bool(4), float64(1), int64(9), object(16)
memory usage: 1.3+ MB

In [4]:
na_variables = [var for var in df.columns if df[var].isnull().mean()>0]
na_variables

['body_type',
 'transmission',
 'registered_city',
 'registered_state',
 'source',
 'car_availability',
 'original_price',
 'car_rating',
 'ad_created_on',
 'fitness_certificate']

In [5]:
data_na = df[na_variables].isnull().mean()
data_na

body_type              0.014065
transmission           0.074074
registered_city        0.001250
registered_state       0.001250
source                 0.017815
car_availability       0.084701
original_price         0.441319
car_rating             0.001094
ad_created_on          0.000156
fitness_certificate    0.001250
dtype: float64

In [6]:
df['transmission'] = df['transmission'].fillna('manual')

In [7]:
'''df = df.dropna(subset=['body_type'])
df = df.dropna(subset=['car_availability'])
df = df.dropna(subset=['original_price'])
df.shape'''

"df = df.dropna(subset=['body_type'])\ndf = df.dropna(subset=['car_availability'])\ndf = df.dropna(subset=['original_price'])\ndf.shape"

In [8]:
df1=df[df['original_price'].isna()]

In [9]:
df = df.dropna(subset=['body_type','car_availability','original_price'])

In [17]:
df.head()

,id,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,transmission,...,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
0,1,maruti swift,2015,petrol,8063,386399,noida,18715,hatchback,manual,...,2,397677,404177.0,great,2021-04-04T07:09:18.583,True,8975,57960,False,False
1,2,maruti alto 800,2016,petrol,23104,265499,noida,2676,hatchback,manual,...,1,272935,354313.0,great,2021-03-22T14:07:32.833,True,6167,39825,False,False
3,4,maruti swift,2013,diesel,39124,307999,noida,6511,hatchback,manual,...,1,294262,374326.0,great,2021-01-21T12:59:19.299,True,7154,46200,False,False
4,5,hyundai grand i10,2015,petrol,22116,361499,noida,3225,hatchback,manual,...,1,360716,367216.0,great,2021-04-01T13:33:40.733,True,8397,54225,False,False
5,6,maruti alto k10,2018,petrol,23534,335299,noida,1055,hatchback,manual,...,1,343212,439056.0,great,2021-04-13T05:55:16.99,True,7788,50295,False,False

In [10]:
list_of_car_names = df1['car_name'].unique()
len(list_of_car_names)

162

In [11]:
df1.isnull().sum()

id                        0
car_name                  0
yr_mfr                    0
fuel_type                 0
kms_run                   0
sale_price                0
city                      0
times_viewed              0
body_type                43
transmission              0
variant                   0
assured_buy               0
registered_city           8
registered_state          8
is_hot                    0
rto                       0
source                  114
make                      0
model                     0
car_availability        438
total_owners              0
broker_quote              0
original_price         2824
car_rating                7
ad_created_on             1
fitness_certificate       8
emi_starts_from           0
booking_down_pymnt        0
reserved                  0
warranty_avail            0
dtype: int64

In [12]:
df1.loc[df1["car_name"] == "hyundai grand i10", "original_price"] = 600000
df1.loc[df1["car_name"] == "maruti ritz", "original_price"] = 500000
df1.loc[df1["car_name"] == "hyundai i10", "original_price"] = 400000
df1.loc[df1["car_name"] == "hyundai eon", "original_price"] = 300000
df1.loc[df1["car_name"] == "maruti swift", "original_price"] = 600000
df1.loc[df1["car_name"] == "maruti alto", "original_price"] = 300000
df1.loc[df1["car_name"] == "hyundai i20", "original_price"] = 800000
df1.loc[df1["car_name"] == "hyundai xcent", "original_price"] = 600000
df1.loc[df1["car_name"] == "hyundai santro xing", "original_price"] = 500000
df1.loc[df1["car_name"] == "maruti alto k10", "original_price"] = 400000
df1.loc[df1["car_name"] == "maruti swift dzire", "original_price"] = 630000
df1.loc[df1["car_name"] == "maruti wagon r 1.0", "original_price"] = 550000
df1.loc[df1["car_name"] == "audi q3", "original_price"] = 5000000
df1.loc[df1["car_name"] == "hyundai elite i20", "original_price"] = 700000
df1.loc[df1["car_name"] == "datsun redi go", "original_price"] = 400000
df1.loc[df1["car_name"] == "honda amaze", "original_price"] = 670000
df1.loc[df1["car_name"] == "volkswagen polo", "original_price"] = 600000
df1.loc[df1["car_name"] == "tata tiago", "original_price"] = 540000
df1.loc[df1["car_name"] == "mahindra scorpio", "original_price"] = 1200000
df1.loc[df1["car_name"] == "ford figo", "original_price"] = 600000
df1.loc[df1["car_name"] == "maruti zen estilo", "original_price"] = 400000
df1.loc[df1["car_name"] == "maruti celerio", "original_price"] = 400000
df1.loc[df1["car_name"] == "toyota innova", "original_price"] = 200000
df1.loc[df1["car_name"] == "maruti sx4", "original_price"] = 800000
df1.loc[df1["car_name"] == "honda city", "original_price"] = 200000
df1.loc[df1["car_name"] == "maruti ertiga", "original_price"] = 900000
df1.loc[df1["car_name"] == "tata harrier", "original_price"] = 1470000
df1.loc[df1["car_name"] == "toyota innova", "original_price"] = 200000
df1.loc[df1["car_name"] == "maruti eeco", "original_price"] = 500000
df1.loc[df1["car_name"] == "mahindra xuv500", "original_price"] = 1500000
df1.loc[df1["car_name"] == "toyota corolla altis", "original_price"] = 1700000
df1.loc[df1["car_name"] == "toyota innova", "original_price"] = 200000
df1.loc[df1["car_name"] == "maruti alto 800", "original_price"] = 360000
df1.loc[df1["car_name"] == "maruti 800", "original_price"] = 200000
df1.loc[df1["car_name"] == "renault kwid", "original_price"] = 500000
df1.loc[df1["car_name"] == "hyundai verna", "original_price"] = 1000000
df1.loc[df1["car_name"] == "chevrolet aveo u va", "original_price"] = 450000
df1.loc[df1["car_name"] == "tata indica vista", "original_price"] = 430000
df1.loc[df1["car_name"] == "toyota etios liva", "original_price"] = 600000
df1.loc[df1["car_name"] == "honda brio", "original_price"] = 500000
df1.loc[df1["car_name"] == "bmw 3 series", "original_price"] = 5000000
df1.loc[df1["car_name"] == "maruti s cross", "original_price"] = 900000
df1.loc[df1["car_name"] == "audi a4", "original_price"] = 4500000
df1.loc[df1["car_name"] == "toyota fortuner", "original_price"] = 3500000
df1.loc[df1["car_name"] == "volkswagen vento", "original_price"] = 1000000
df1.loc[df1["car_name"] == "maruti ciaz", "original_price"] = 900000
df1.loc[df1["car_name"] == "skoda laura", "original_price"] = 1300000
df1.loc[df1["car_name"] == "renault duster", "original_price"] = 900000
df1.loc[df1["car_name"] == "skoda superb", "original_price"] = 3300000
df1.loc[df1["car_name"] == "maruti esteem", "original_price"] = 4500000
df1.loc[df1["car_name"] == "mahindra bolero", "original_price"] = 990000
df1.loc[df1["car_name"] == "renault captur", "original_price"] = 950000
df1.loc[df1["car_name"] == "mercedes benz e class", "original_price"] = 7000000
df1.loc[df1["car_name"] == "hyundai sonata transform", "original_price"] = 150000
df1.loc[df1["car_name"] == "hyundai accent", "original_price"] = 500000
df1.loc[df1["car_name"] == "maruti baleno", "original_price"] = 700000
df1.loc[df1["car_name"] == "maruti vitara brezza", "original_price"] = 800000
df1.loc[df1["car_name"] == "maruti wagon r", "original_price"] = 600000
df1.loc[df1["car_name"] == "hyundai creta", "original_price"] = 1100000
df1.loc[df1["car_name"] == "tata nano", "original_price"] = 250000
df1.loc[df1["car_name"] == "mahindra e2o", "original_price"] = 650000
df1.loc[df1["car_name"] == "toyota etios", "original_price"] = 700000
df1.loc[df1["car_name"] == "maruti a star", "original_price"] = 400000
df1.loc[df1["car_name"] == "maruti omni e", "original_price"] = 250000
df1.loc[df1["car_name"] == "hyundai i20 active", "original_price"] = 700000
df1.loc[df1["car_name"] == "renault pulse", "original_price"] = 510000
df1.loc[df1["car_name"] == "chevrolet beat", "original_price"] = 400000
df1.loc[df1["car_name"] == "chevrolet spark", "original_price"] = 390000
df1.loc[df1["car_name"] == "hyundai getz prime", "original_price"] = 400000
df1.loc[df1["car_name"] == "maruti dzire", "original_price"] = 600000
df1.loc[df1["car_name"] == "volkswagen cross polo", "original_price"] = 770000
df1.loc[df1["car_name"] == "renault triber", "original_price"] = 600000
df1.loc[df1["car_name"] == "honda jazz", "original_price"] = 850000
df1.loc[df1["car_name"] == "maruti wagon r stingray", "original_price"] = 460000
df1.loc[df1["car_name"] == "honda jazz", "original_price"] = 850000
df1.loc[df1["car_name"] == "fiat grand punto", "original_price"] = 650000
df1.loc[df1["car_name"] == "nissan micra", "original_price"] = 680000
df1.loc[df1["car_name"] == "ford ecosport", "original_price"] = 820000
df1.loc[df1["car_name"] == "maruti wagon r duo", "original_price"] = 400000
df1.loc[df1["car_name"] == "mahindra kuv100", "original_price"] = 620000
df1.loc[df1["car_name"] == "ford fiesta", "original_price"] = 900000
df1.loc[df1["car_name"] == "hyundai new elantra", "original_price"] = 1800000
df1.loc[df1["car_name"] == "maruti ignis", "original_price"] = 590000
df1.loc[df1["car_name"] == "maruti omni", "original_price"] = 290000
df1.loc[df1["car_name"] == "nissan sunny", "original_price"] = 800000
df1.loc[df1["car_name"] == "tata tigor", "original_price"] = 600000
df1.loc[df1["car_name"] == "chevrolet enjoy", "original_price"] = 540000
df1.loc[df1["car_name"] == "audi a3", "original_price"] = 2900000
df1.loc[df1["car_name"] == "ford fiesta classic", "original_price"] = 600000
df1.loc[df1["car_name"] == "datsun go", "original_price"] = 450000
df1.loc[df1["car_name"] == "tata bolt", "original_price"] = 680000
df1.loc[df1["car_name"] == "mahindra marazzo", "original_price"] = 1400000
df1.loc[df1["car_name"] == "skoda rapid", "original_price"] = 700000
df1.loc[df1["car_name"] == "tata nexon", "original_price"] = 800000
df1.loc[df1["car_name"] == "volkswagen jetta", "original_price"] = 1500000
df1.loc[df1["car_name"] == "nissan terrano", "original_price"] = 1000000
df1.loc[df1["car_name"] == "maruti zen", "original_price"] = 380000
df1.loc[df1["car_name"] == "mahindra renault logan", "original_price"] = 550000
df1.loc[df1["car_name"] == "fiat linea", "original_price"] = 800000
df1.loc[df1["car_name"] == "mahindra reva", "original_price"] = 400000
df1.loc[df1["car_name"] == "hyundai santro", "original_price"] = 500000
df1.loc[df1["car_name"] == "toyota camry", "original_price"] = 440000
df1.loc[df1["car_name"] == "honda mobilio", "original_price"] = 750000
df1.loc[df1["car_name"] == "mahindra xylo", "original_price"] = 900000
df1.loc[df1["car_name"] == "mahindra verito", "original_price"] = 550000
df1.loc[df1["car_name"] == "toyota corolla", "original_price"] = 900000
df1.loc[df1["car_name"] == "mahindra thar", "original_price"] = 1400000
df1.loc[df1["car_name"] == "fiat punto evo", "original_price"] = 500000
df1.loc[df1["car_name"] == "honda city zx", "original_price"] = 700000
df1.loc[df1["car_name"] == "hyundai santa fe", "original_price"] = 2800000
df1.loc[df1["car_name"] == "renault scala", "original_price"] = 800000
df1.loc[df1["car_name"] == "skoda fabia", "original_price"] = 600000
df1.loc[df1["car_name"] == "skoda yeti", "original_price"] = 2000000
df1.loc[df1["car_name"] == "tata safari", "original_price"] = 1800000
df1.loc[df1["car_name"] == "hyundai tucson new", "original_price"] = 3000000
df1.loc[df1["car_name"] == "mahindra quanto", "original_price"] = 700000
df1.loc[df1["car_name"] == "bmw 5 series", "original_price"] = 6500000
df1.loc[df1["car_name"] == "honda accord", "original_price"] = 4400000
df1.loc[df1["car_name"] == "maruti s presso", "original_price"] = 450000
df1.loc[df1["car_name"] == "hyundai new santro", "original_price"] = 500000
df1.loc[df1["car_name"] == "ford figo aspire", "original_price"] = 600000
df1.loc[df1["car_name"] == "volkswagen ameo", "original_price"] = 600000
df1.loc[df1["car_name"] == "chevrolet cruze", "original_price"] = 1400000
df1.loc[df1["car_name"] == "maruti new wagon-r", "original_price"] = 600000
df1.loc[df1["car_name"] == "tata zest", "original_price"] = 550000
df1.loc[df1["car_name"] == "mercedes benz cls class", "original_price"] = 8400000
df1.loc[df1["car_name"] == "mercedes benz c class", "original_price"] = 5500000
df1.loc[df1["car_name"] == "honda wr-v", "original_price"] = 925000
df1.loc[df1["car_name"] == "mg hector", "original_price"] = 1400000
df1.loc[df1["car_name"] == "mahindra tuv300", "original_price"] = 900000
df1.loc[df1["car_name"] == "toyota prius", "original_price"] = 4500000
df1.loc[df1["car_name"] == "skoda octavia", "original_price"] = 2700000
df1.loc[df1["car_name"] == "honda civic", "original_price"] = 1800000
df1.loc[df1["car_name"] == "tata manza", "original_price"] = 600000
df1.loc[df1["car_name"] == "honda crv", "original_price"] = 2900000
df1.loc[df1["car_name"] == "tata sumo gold", "original_price"] = 600000
df1.loc[df1["car_name"] == "tata indica v2", "original_price"] = 400000
df1.loc[df1["car_name"] == "maruti celerio x", "original_price"] = 520000
df1.loc[df1["car_name"] == "hyundai venue", "original_price"] = 800000
df1.loc[df1["car_name"] == "jeep compass", "original_price"] = 2000000
df1.loc[df1["car_name"] == "tata hexa", "original_price"] = 1400000
df1.loc[df1["car_name"] == "toyota innova crysta", "original_price"] = 2000000
df1.loc[df1["car_name"] == "tata safari storme", "original_price"] = 1200000
df1.loc[df1["car_name"] == "datsun go plus", "original_price"] = 450000
df1.loc[df1["car_name"] == "audi a6", "original_price"] = 6100000
df1.loc[df1["car_name"] == "ford ikon", "original_price"] = 500000
df1.loc[df1["car_name"] == "bmw x1", "original_price"] = 4100000
df1.loc[df1["car_name"] == "honda br-v", "original_price"] = 900000
df1.loc[df1["car_name"] == "ford new figo", "original_price"] = 600000
df1.loc[df1["car_name"] == "mercedes benz gla class", "original_price"] = 4500000
df1.loc[df1["car_name"] == "mahindra maxximo", "original_price"] = 340000
df1.loc[df1["car_name"] == "tata indigo ecs", "original_price"] = 550000
df1.loc[df1["car_name"] == "mg zs ev", "original_price"] = 2300000
df1.loc[df1["car_name"] == "renault lodgy", "original_price"] = 900000
df1.loc[df1["car_name"] == "fiat punto pure", "original_price"] = 500000
df1.loc[df1["car_name"] == "opel astra", "original_price"] = 800000
df1.loc[df1["car_name"] == "chevrolet optra magnum", "original_price"] = 900000
df1.loc[df1["car_name"] == "nissan evalia", "original_price"] = 930000
df1.loc[df1["car_name"] == "volvo s60", "original_price"] = 450000
df1.loc[df1["car_name"] == "volvo xc 60", "original_price"] = 6500000
df1.loc[df1["car_name"] == "tata indigo cs", "original_price"] = 500000
df1.loc[df1["car_name"] == "renault fluence", "original_price"] = 1500000
df1.loc[df1["car_name"] == "chevrolet optra", "original_price"] = 900000
df1.loc[df1["car_name"] == "tata indica ev2", "original_price"] = 515000

In [16]:
df1.head(3)

,id,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,transmission,...,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
2,3,hyundai grand i10,2017,petrol,23402,477699,noida,609,hatchback,manual,...,1,469605,600000.0,great,2021-03-20T05:36:31.311,True,11096,71655,False,False
6,7,maruti ritz,2012,diesel,41213,281999,noida,909,hatchback,manual,...,1,201200,500000.0,great,2020-12-29T07:26:25.321,True,6550,42300,False,False
11,12,hyundai i10,2008,petrol,44219,194699,noida,1798,hatchback,manual,...,1,153600,400000.0,good,2021-03-08T05:26:08.476,True,4522,29205,False,False

In [14]:
df1['car_availability'].unique()

array(['in_stock', 'in_transit', nan, 'pickup_pending', 'out_of_stock'],
      dtype=object)

In [15]:
df1['source'].unique()

array(['inperson_sale', nan, 'online', 'customer_to_customer'],
      dtype=object)

In [18]:
df = df.append(df1)

In [22]:
df.isnull().sum()

id                       0
car_name                 0
yr_mfr                   0
fuel_type                0
kms_run                  0
sale_price               0
city                     0
times_viewed             0
body_type               43
transmission             0
variant                  0
assured_buy              0
registered_city          8
registered_state         8
is_hot                   0
rto                      0
source                 114
make                     0
model                    0
car_availability       438
total_owners             0
broker_quote             0
original_price           6
car_rating               7
ad_created_on            1
fitness_certificate      8
emi_starts_from          0
booking_down_pymnt       0
reserved                 0
warranty_avail           0
dtype: int64

In [23]:
df = df.dropna(subset=['body_type','registered_city','registered_state','source','car_availability','original_price','car_rating','ad_created_on','fitness_certificate'])

In [26]:
df.shape

(5790, 30)

In [27]:
df.to_csv('car_updated_dataset.csv')