### Importing pre-processed data from updated csv file

In [262]:
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
df = pd.read_csv('/home/sarang/Desktop/AML-pro-assignment/car_updated_dataset.csv',index_col=0)
df.reset_index(inplace=True)
df.tail(6)

,index,id,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,...,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
5784,6375,6376,mahindra xuv500,2015,diesel,185977,609399,lucknow,3215,luxury suv,...,2,582304,1500000.0,great,2021-03-11T07:58:34.129,True,14155,91410,False,False
5785,6377,6378,hyundai grand i10,2018,petrol,1355,507599,lucknow,1579,hatchback,...,1,498992,600000.0,great,2021-04-01T08:16:54.357,True,11790,76140,True,False
5786,6383,6384,maruti alto 800,2018,petrol,78869,288899,lucknow,2202,hatchback,...,1,261488,360000.0,good,2021-03-10T11:21:29.097,True,6710,43335,True,False
5787,6388,6389,maruti swift,2010,diesel,77518,215000,lucknow,225,hatchback,...,1,124000,600000.0,good,2020-05-10T06:33:34.375,False,4994,32250,False,True
5788,6389,6390,tata safari,2011,diesel,126285,210000,lucknow,553,suv,...,1,111000,1800000.0,fair,2020-05-30T13:00:13.514,False,4878,31500,False,False
5789,6390,6391,tata tiago,2018,diesel,62362,360000,lucknow,418,hatchback,...,1,0,540000.0,good,2020-06-01T13:59:17.221,False,8362,54000,False,False

In [263]:
df.shape

(5790, 31)

In [264]:
null_columns = list(df.isnull().sum())
null_columns

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [265]:
df.columns

Index(['index', 'id', 'car_name', 'yr_mfr', 'fuel_type', 'kms_run',
       'sale_price', 'city', 'times_viewed', 'body_type', 'transmission',
       'variant', 'assured_buy', 'registered_city', 'registered_state',
       'is_hot', 'rto', 'source', 'make', 'model', 'car_availability',
       'total_owners', 'broker_quote', 'original_price', 'car_rating',
       'ad_created_on', 'fitness_certificate', 'emi_starts_from',
       'booking_down_pymnt', 'reserved', 'warranty_avail'],
      dtype='object')

In [266]:
# I want list of columns with boolean as datatype
bool_columns = list(df.select_dtypes(include='bool'))
bool_columns

['assured_buy', 'is_hot', 'fitness_certificate', 'reserved', 'warranty_avail']

In [267]:
#Converting bool to int
df['assured_buy'] = df['assured_buy'].astype(int)
df['is_hot'] = df['is_hot'].astype(int)
df['fitness_certificate'] = df['fitness_certificate'].astype(int)
df['reserved'] = df['reserved'].astype(int)
df['warranty_avail'] = df['warranty_avail'].astype(int)

In [268]:
# Starting with fuel_type column
df['fuel_type'].value_counts()

petrol          3694
diesel          1765
petrol & cng     293
petrol & lpg      34
electric           4
Name: fuel_type, dtype: int64

In [269]:
# "One-Hot-Encoding" method implemented for 'fuel_type' column
fuel = OneHotEncoder(sparse=False)
res_fuel = fuel.fit_transform(df[["fuel_type"]])
res_fuel
fuel_encoded = pd.DataFrame(res_fuel, index=df.index,columns=fuel.categories_)
fuel_encoded
df = pd.concat([fuel_encoded,df], axis=1)

In [270]:
df['transmission'].value_counts()

manual       5283
automatic     507
Name: transmission, dtype: int64

In [271]:
# "One-Hot-Encoding" method implemented for 'transmission' column
transmission = OneHotEncoder(sparse=False)
res_transmission = transmission.fit_transform(df[["transmission"]])
res_transmission
transmission_encoded = pd.DataFrame(res_transmission, index=df.index,columns=transmission.categories_)
transmission_encoded
df = pd.concat([transmission_encoded,df], axis=1)

###### Below are two methods by which we can label encode a column

In [272]:
'''This method works exactly like label encoding
Method 01:-
df["city"] = df["city"].astype('category')
df["city_codes"] = df["city"].cat.codes'''

'This method works exactly like label encoding\nMethod 01:-\ndf["city"] = df["city"].astype(\'category\')\ndf["city_codes"] = df["city"].cat.codes'

In [273]:
'''Method 02:-
label_encoder = preprocessing.LabelEncoder()
df['city']= label_encoder.fit_transform(df['city'])'''

"Method 02:-\nlabel_encoder = preprocessing.LabelEncoder()\ndf['city']= label_encoder.fit_transform(df['city'])"

In [274]:
#list(df['city'].value_counts())

In [275]:
#list(df['city_codes'].value_counts())

In [276]:
#df = df.drop(['city_codes'],axis=1)

In [277]:
# Using On-hot encoding for the 'city' column
'''city = OneHotEncoder()
res_trans = city.fit_transform(df[["city"]])
print(pd.DataFrame(res_trans.toarray(), columns=city.categories_))
df = df.join(pd.DataFrame(res_trans.toarray(), columns=city.categories_))
df = df.drop(['city'], axis=1)


Columns overlap due to same column names in 'city' and 'registered_city'.'''

'city = OneHotEncoder()\nres_trans = city.fit_transform(df[["city"]])\nprint(pd.DataFrame(res_trans.toarray(), columns=city.categories_))\ndf = df.join(pd.DataFrame(res_trans.toarray(), columns=city.categories_))\ndf = df.drop([\'city\'], axis=1)\n\n\nColumns overlap due to same column names in \'city\' and \'registered_city\'.'

In [278]:
df['body_type'].value_counts()

hatchback       3533
sedan           1134
suv              845
luxury suv       158
luxury sedan     120
Name: body_type, dtype: int64

In [279]:
'''# Label Encoding for 'body_type' -->
# Method 02:-
label_encoder = preprocessing.LabelEncoder()
df['body_type']= label_encoder.fit_transform(df['body_type'])'''

"# Label Encoding for 'body_type' -->\n# Method 02:-\nlabel_encoder = preprocessing.LabelEncoder()\ndf['body_type']= label_encoder.fit_transform(df['body_type'])"

In [280]:
# One hot encoding for the 'body_type' column
bodytype = OneHotEncoder(sparse=False)
res_bodytype = bodytype.fit_transform(df[["body_type"]])
res_bodytype
bodytype_encoded = pd.DataFrame(res_bodytype, index=df.index,columns=bodytype.categories_)
bodytype_encoded
df = pd.concat([bodytype_encoded,df], axis=1)

In [281]:
'''# Label Encoding for 'City'-->
#Method 02:-
label_encoder = preprocessing.LabelEncoder()
df['city']= label_encoder.fit_transform(df['city'])'''

"# Label Encoding for 'City'-->\n#Method 02:-\nlabel_encoder = preprocessing.LabelEncoder()\ndf['city']= label_encoder.fit_transform(df['city'])"

In [282]:
df['registered_city'].value_counts()

delhi         738
bengaluru     553
chennai       494
pune          454
hyderabad     451
             ...
cheyyar         1
hosur           1
tiruppur        1
tirupattur      1
sitapur         1
Name: registered_city, Length: 205, dtype: int64

In [283]:
registeredcity = OneHotEncoder(sparse=False)
res_registeredcity = registeredcity.fit_transform(df[["registered_city"]])
res_registeredcity
registeredcity_encoded = pd.DataFrame(res_registeredcity, index=df.index,columns=registeredcity.categories_)
registeredcity_encoded
df = pd.concat([registeredcity_encoded,df], axis=1)

In [284]:
df['rto'].value_counts()

mh02    301
mh12    299
ka03    214
hr26    210
mh04    192
       ...
gj08      1
ka26      1
ka30      1
wb08      1
up34      1
Name: rto, Length: 233, dtype: int64

In [285]:
'''df["rto"] = df["rto"].astype('category')
df["rto_codes"] = df["rto"].cat.codes
df = df.drop(['rto'], axis=1)
df['rto_codes'].value_counts()'''

rto = OneHotEncoder(sparse=False)
res_rto = rto.fit_transform(df[["rto"]])
res_rto
rto_encoded = pd.DataFrame(res_rto, index=df.index,columns=rto.categories_)
rto_encoded
df = pd.concat([rto_encoded,df], axis=1)

In [286]:
df['source'].unique()

array(['inperson_sale', 'online'], dtype=object)

In [287]:
source = OneHotEncoder(sparse=False)
res_source = source.fit_transform(df[["source"]])
res_source
source_encoded = pd.DataFrame(res_source, index=df.index,columns=source.categories_)
source_encoded
df = pd.concat([source_encoded,df], axis=1)

In [288]:
df['make'].value_counts()

maruti              2528
hyundai             1410
honda                471
toyota               292
renault              208
volkswagen           197
mahindra             172
ford                 151
tata                 112
skoda                 50
nissan                35
chevrolet             35
bmw                   26
mercedes benz         26
datsun                24
audi                  19
fiat                  14
jeep                  11
ssangyong              3
volvo                  2
isuzu                  2
mahindra renault       1
opel                   1
Name: make, dtype: int64

In [289]:
'''df["brand"] = df["brand"].astype('category')
df["brand_codes"] = df["brand"].cat.codes
df = df.drop(['brand'], axis=1)
df['brand_codes'].value_counts()'''

make = OneHotEncoder(sparse=False)
res_make = make.fit_transform(df[["make"]])
res_make
make_encoded = pd.DataFrame(res_make, index=df.index,columns=make.categories_)
make_encoded
df = pd.concat([make_encoded,df], axis=1)

In [290]:
df['car_rating'].value_counts()

great         5087
good           635
fair            53
overpriced      15
Name: car_rating, dtype: int64

In [291]:
'''# Ordinal encoding to retain the order...
datamap = {"great":3,"good":2,"fair":1,"overpriced":0}
df['car_rating'] = df['car_rating'].map(datamap)
df['car_rating'].value_counts()'''

carrating = OneHotEncoder(sparse=False)
res_carrating = carrating.fit_transform(df[["car_rating"]])
res_carrating
carrating_encoded = pd.DataFrame(res_carrating, index=df.index,columns=carrating.categories_)
carrating_encoded
df = pd.concat([carrating_encoded,df], axis=1)

In [292]:
df['car_name'].value_counts()

maruti swift             449
hyundai i10              311
maruti swift dzire       310
maruti wagon r 1.0       272
hyundai grand i10        224
                        ...
mercedes benz a class      1
nissan nissan kicks        1
bmw x3                     1
renault captur             1
renault fluence            1
Name: car_name, Length: 159, dtype: int64

In [293]:

'''#label encoding for car_name
from sklearn import preprocessing
  
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
df['car_name']= label_encoder.fit_transform(df['car_name'])'''

carname = OneHotEncoder(sparse=False)
res_carname = carname.fit_transform(df[["car_name"]])
res_carname
carname_encoded = pd.DataFrame(res_carname, index=df.index,columns=carname.categories_)
carname_encoded
df = pd.concat([carname_encoded,df], axis=1)

In [294]:
df['variant'].unique()

array(['lxi opt', 'lxi', 'vdi', 'magna 1.2 vtvt', 'vxi (o) amt',
       'asta 1.2', 'magna 1.4 crdi', 'rxl', 'sportz 1.4 crdi',
       '1.2 v mt i vtec', 's mt petrol', 'sportz 1.2 kappa2', 'vdi abs',
       '1.2 s mt i vtec', 'era plus', 'fluidic 1.6 sx crdi', 'vxi bs iv',
       'gls', 'vxi', 'vxi 1.2 bs iv', '1.5 trend tdci', 'vdi bs iv',
       'xl petrol', 'magna o 1.4 crdi', 'd 4d gd', 'fluidic 1.6 crdi s',
       'vxi cng', 'alpha ddis 190', 'ldi bs iv', 's 1.6 mt',
       'sportz o 1.4 crdi', 'zdi', '1.2 smt i vtec',
       '1.6 crdi sx plus auto', '1.5 emt i dtec', '1.6 sx crdi',
       '1.5 exmt i dtec', 'sportz 1.4', 'd 4d j', '2.0 tdi',
       '2.5 vx 7 str bs iv', 'rxz', 'lxi cng', 'rxt', 'vxi opt. mt',
       'd lite plus', 'sportz (o) 1.2 at vtvt', '85 ps rxl opt',
       '1.2 magna plus vtvt', 'xt 1.05 revotorq', '1.6 s', 'g',
       'zxi smart hybrid', 'magna o 1.2', 'zxi', '1.2 i-vtec vx mt',
       'zeta 1.2 k12', 'lxi 1.3', 'w8 fwd', 'sportz 1.2',
       'sportz(o) 1.2 mt', 's8', '2.4 gx 7 str',
       'comfortline 1.2l petrol', '1.6 sx plus petrol', 's10',
       'fluidic 1.6 sx crdi opt', 'fluidic 1.4 crdi cx', 'highline 1.5',
       'lxi 1.2 bs iv', '1.5titanium tdci', 'xv 110 diesel', 'vxi genus',
       'highline diesel', 'gl', '2.0 tdi quattro', '1.6 sx at crdi',
       '2.0 tdi premium plus', '3.0 at 4x2', 'lx bs iv',
       'sportz 1.2 kappa vtvt', '1.0 t(o) at', 'magna 1.2 kappa2',
       't8 at', 'v mt petrol', 'era 1.1 irde', 's 1.1 crdi opt',
       '1.6 crdi sx + at', 'zdi plus', '1.6 crdi sx', '1.4 crdi ex mt',
       '1.5 titanium ti vct', 'fluidic 1.4 crdi', 'alpha shvs  mt',
       'vx mt diesel', '1.8v at', 'vxi 1.3', 'cla 200 cdi sport',
       '1.5 smt i dtec', 'alpha 1.3 ddis shvs', 'k4+ d 6 str',
       '40 tfsi premium', 'sv mt petrol', '3.0 mt 4x2', 'vx mt petrol',
       'gl plus', '1.0 rxt opt', 'delta 1.2 k12', '1.0 rxt', 'xt twist',
       'alpha 1.2 k12', 'crde 4x4 bs iv', 'ls diesel', '3.0 mt 4x4',
       'vdi amt', '2.5 gx 7 str bs iv', 's11', 's6+ intell hybrid',
       'vdi elate limited edition', 'alpha 1.5 at vtvt shvs',
       'magna 1.2 kappa vtvt', 'vxi amt', '1.2 e mt i vtec', 'magna 1.2',
       'd-4d vxd', 'vxi plus', 'zdi + amt', 'sx(o) crdi', '1.2 v mt',
       'gd', '2.5 gx 8 str bs iv', 'sigma 1.3', '1.2 sat i vtec',
       'delta 1.3 ddis shvs', 'asta 1.4 crdi', 'vdi+ shvs', 'hybrid',
       'titanium plus petrol at', '2.0 tdi s line', 'vdi plus',
       '1.5 titaniumtdci opt', 'w10 at fwd', '2.5 vx 8 str bs iv',
       '1.6 sx (o) crdi', 'era plus (o)', 's5 2wd',
       'vxi elate limited edition', '1.2 v at', '1.6 sx plus se',
       '1.2 base i vtec', 'k10 vxi at', 'fluidic 1.6 ex vtvt',
       'sportz1.2 crdi', 'asta 1.2 kappa vtvt opt', 'xz 1.2 revotron',
       'trendline 1.2l petrol', 'trendline 1.0 l petrol',
       '1.5 trend ti vct', '1.2 v cvt i vtec', 'zx cvt petrol', 'rxt opt',
       'vdi opt', 'fluidic 1.6 sx vtvt', '1.4 e plus crdi',
       'vx (o) petrol', '7 str', 'w10 at', 'zeta ddis 190',
       '1.6 sx at petrol', 'cross 1.4 gd', 'zdi plus dual tone',
       'zdi amt', 'gt tsi 1.2 petrol at', '1.5 tdci titanium plus',
       '1.2 zxi duratec', 'he 1.8 j', 'w4', 'sportz at 1.2 kappa vtvt',
       'kinetic d4', 'zdi+ dual tone amt', 'magna 1.1 irde2',
       'climber 1.0 at', 'zxi amt', 'sx at 1.2 opt', 'magna plus',
       '5 str with ac plushtr', 'sports 1.2 vtvt', 'sportz 1.2 o',
       'sportz 1.1 irde2', 'sportz 1.2 at kappa2', 'vx quadrajet',
       'zxi 1.2 bs iv', 'rxt 1.0 easy-r  at', 'zxi opt amt',
       'rxt 1.0 easy-r at option', 'zxi abs', 'delta 1.2 k12 amt',
       'zxi plus amt', 'k6 d 6 str', 'rxl1.0 easy-r at',
       'asta at 1.2 kappa vtvt', 'asta 1.2 (o) vtvt', '1.5 v i vtec',
       'alpha 1.2 k12 dual tone', 'magna 1.2 at', 'v  limited',
       'sportz 1.2 at', 'sportz (o) 1.4', 'comfortline 1.2l diesel',
       'vxi regal limited edition', 'asta 1.2 (o)', 'sportz 1.2 vtvt',
       'delta 1.5 shvs vvt at', 'magna', '1.5 v cvt i-dtec', 'lxi minor',
       'xo erlx euro iii', 'zxi plus', 'vx  1.2', 'vdi shvs',
       'highline plus dsg 1.5', 'gt tsi', '1.2 trend+ petrol', '1.5 v mt',
       'era', 'gls lpg', '1.2 ls abs', 'j mt', '1.5 titanium ti vct at',
       'rxe petrol mt', '1.6 sx vtvt', '1.5 titanium plus ti vct at',
       'vxi (o)', 'zeta 1.3', 'highline1.2l diesel', 'asta 1.2 dual tone',
       'vxi opt', 'varicor 400 xta', 'gt tdi 1.6 mt diesel',
       '1.0l turbo gdi sx mt', '2.8 zx at 7 str', 'zxi 1.3',
       '1.6 sx vtvt at (o)', '4wd at', '2.5 v 8 str', 'w6 4x2',
       'ambiente 2.0 tdi cr at', '2.5 zx 7 str bs iv',
       'highline1.2l petrol', '2.5 g4 8 str', '2.5 v 7str', 'lxi lpg',
       'highline petrol', 'ldi', '250 cdi avantgarde', 'rxz diesel 110',
       'rxz amt 110 ps', '1.0 rxz', 'vx', 'alpha 1.2 k12 amt', '1.2 sx',
       '85 ps rxl', 'zeta 1.2 k12 amt', 'elegance 2.0 tdi cr at',
       '1.4 crdi asta (o)', '1.0l turbo gdi sx(o) mt', 'zeta 1.2 k12 cvt',
       '1.5 tdi at style plus', 'd lite', '5 str', 'asta 1.2 at vtvt',
       'cross 1.2 g', 'magna 1.1 crdi', 'fluidic 1.6 vtvt s (o)  mt',
       'std', 'zxi+ bs iv', 'c8', 'v cvt', 'vl at', 'highline1.5l diesel',
       'power+ sle', 'zdi shvs', 'xm 1.2', 'vxi abs', 'rxl amt 110 ps',
       'rxs cvt 106 ps', 'w11 (o)', 'xza + 1.2 petrol a/t',
       '1.0 ecoboost titanium sports(sunroof)', 'w10', 'w10 at awd',
       'pure 4x2', 'ls petrol', '1.8 tsi lk at', 'd 4d g',
       'elegance 1.6 tdi mt', 'zdi plus shvs', 'xza 1.2 revotron',
       'high line plus 1.0', 't', '2.5 g2 7 seater',
       '5 str cng with ac plushtr', '1.2 vx mt i vtec',
       '1.2 select i vtec', 'asta 1.2 vtvt', 'magna executive 1.2',
       '1.2 s (o) mt ivtec', 'delta ddis 190', 'fluidic 1.6 sx vtvt opt',
       'alpha 1.3', '1.0 rxl', 's mt diesel', '85 ps rxe', 'n6 mhawk',
       '1.5 i-dtec s mt', 'zdi plus amt', 'zdi+ shvs', 'g at', 's6 plus',
       't6+', 'gd exclusive', '1.4 s crdi', 'alpha shvs', '1.8 g',
       'shvs vdi', 'ambition 1.6 mpi mt plus', '250 cdi',
       '1.5 ambiente tdci', '1.6 sx plus diesel', 'd 4d gd sp',
       'fluidic 1.6 ex crdi', 't8', 'e 220 cdi elegance', 'v mt diesel',
       '1.4 s plus crdi', 'neotech 1.0 easyr', 'kraz at petrol',
       'sportz 1.1 crdi', 'rxl diesel 110', '2.8 gx at 7 str', 't (o)',
       '2.4 mt', 's at', '1.6 e + vtvt', 'c 220 cdi avantgarde', 'w9',
       'asta 1.4 crdi 6 speed', '35 tdi quattro', 'sv mt diesel',
       'era 1.4 crdi', 'sportz petrol', 'xv petrol', 'xt 1.2 revotron',
       'w4 petrol', 'vdi glory edition', 'd 4d vd', 'zx cvt',
       'comfortline 2.0l tdi', 'xe 1.2 revotron', 'alpha 1.5 mt vvt shvs',
       '1.2 exi duratec', '1.2 vxmt i vtec', 'vx cvt petrol',
       'tour s diesel', '1.0 ecoboost titanium opt', '4*4 mt',
       '30 tdi premium', 'xz 2.0l kryotec', 's10 7 str', 'rx7',
       'vlx 2wd bs iv', 'vxi bs iii', 'w10 fwd', 'rxl plus diesel 85',
       '2.4 vx 8 str', 'sv cvt petrol', 'ltz', '110 ps rxz diesel plus',
       '3.0 at 4x4', 'e 250 cdi classic', 'high 4x2 mt', '1.8v mt',
       'zeta shvs petrol', '2.8 4x2 at', '1.2 s', 'zxi opt',
       'delta 1.2 k12 at', 'sx 1.2', 'xcite',
       'fluidic 1.6 sx vtvt opt at', 'g cvt', 'zeta 1.3 ddis shvs',
       'v at', '1.5 i-dtec vx mt', 'j cvt', 'xma 1.5',
       '1.6 sx plus auto petrol', '1.8 tsi style at', 'w11 at', 'vd',
       '2.0 tdi cr lk at', 'c220 cdi grand edition', '1.2 exmt i vtec',
       '1.5 vxmt i dtec', '2.5 g3 8 str', 'revotron xt',
       'sx o mt 1.2 diesel', 'g sp', 'lxi cng avance limited edition',
       '1.2 s mt', 'highline tdi at', 'vdi dual tone', 'zxi mt bs iv',
       '1.2 s cvt i vtec', 'asta 1.2 kappa vtvt', 'highline 1.5l at (d)',
       'w8(o)', '1.0 turbo gdi sx+ at', '250 cdi elegance at',
       'sdrive 20d', 'xza+ 1.5', 'fluidic 1.6 crdi sx opt at',
       '2.0 limited', '1.6 sx (o) crdi mt', '2.0 longitude', '2.8 4x2 mt',
       'c 220 cdi classic', 'touring sport diesel at', '2.8 gx at 8 str',
       'h4 abs bs iv', 'elegance 1.8 tsi at', 'asta 1.2 kappa2',
       '2.4 at i vtec', 'ltz at', 'e 250 cdi elegance',
       'highline 1.2 tsi at', '520d 2.0', 'xdrive 20d', 'sx 1.2 opt',
       '1.6 sx (o) vtvt', 'slx bs iv', 'vxi abs at', 'delta 1.4 vvt',
       'limited (o) 2.0', 's9', '320d luxuryline', 'executive gle',
       'highline 1.2', 'comfortline 1.2', '1.2 sports plus vtvt',
       '2.0 sport', 's 1.2 opt', '1.4 titanium duratorq', 'v',
       '200 elegance', '1.2  asta (o) cvt', 'lt 1.0', 'zeta shvs',
       '2.0 2wd at', 's2', '1.5 sx mt i dtec', '1.2 titanium duratec',
       'vxi limited edition', '1.2 vx at i vtec', 'comfortline tsi at',
       '1.5 e mt petrol', 'comfortline diesel', 'comfortline tdi at',
       'vx mt o diesel', '2.5 g4 7 str', 'k8 d 6 str', 'limited 1.4 at',
       'sportz (o) 1.2', 'xl p', '1.5 trend diesel', 'trendline petrol',
       '1.5 tdi mt elegance', 'asta 1.2 at with sunroof', '1.2 titanium',
       'xe diesel', 'vxi abs air bag', '2.4 zx 7 str', '1.6 sx vtvt (o)',
       'xv diesel', 'xv', 'vxi plus ags', 'vxi at', 'xv s',
       '2.4 gx 8 str', '1.5 trend+ tdci', 'twist xta',
       'magna plus blue drive', '1.4 sx', 'style 1.6 mpi mt',
       'elegance 1.2 mpi', 'transform 1.6 vtvt', 'highline 1.0 petrol',
       'zdi plus 1.5 diesel', 'comfortline 1.5l diesel',
       't 10 mt dual tone', 'ambition 1.6 tdi mt', 'magna 1.2 at  vtvt',
       'vxi deca', 'active 1.3', 'rx l petrol', '1.5 titanium', 'w7 fwd',
       '1.2 vx at', 'sigma 1.2 k12', 'alpha 1.4 vvt amt',
       'magna executive diesel', 'xl cvt (petrol)', '1.4 crdi s mt',
       '1.5 titanium sports edition', 'xl diesel', 'sigma ddis 190',
       'zlx special edition', '1.5 tdi at ambition',
       '1.6 tdi mt ambition plus', 'emotion pack 1.3 90 hp', '1.6 base',
       'a180 cdi style', 'xe revotron', '1.0 climber opt amt',
       'vxi plus amt', '5 str with ac plus htr', 's 1.2',
       'magna plus optional', '1.2 titanium petrol', '1.2 sv mt',
       '1.5 trend', 'dynamic 1.3', 'xms rt', 'asta petrol', 'gl plus lpg',
       '200 cgi spotrs', 'style 1.5 tdi at', 'xxi',
       'emotion 1.3 multijet', 'sport 1.3', '1.4 zxi duratorq',
       '1.6 sx plus vtvt', 'vxi minor', '1.3 ls 8 str', 'xza+ 1.2 rtn',
       'dynamic 1.3 multijet', 'zlx', '1.2 sx mt i vtec', 'ambiente',
       'elegance 1.8 tsi mt', '85 ps rxe diesel adventure',
       'e8 abs bs iv', 'xl plus 85 ps deisel', 'e plus',
       'varicor 400 xma', '200 cdi sport', '1.6 crdi sx(o) executive',
       '1.5 i-vtec s', 'era 1.2 kappa vtvt', 'sportz o 1.2', 's mt',
       'xv cvt', 'magna 1.2 crdi', 's',
       '1.2 s i - vtech  alive edition mt', '2.0 longitude (o)',
       'lxi krest limited edition', '1.5 alpha shvs', '200 cdi style',
       'delta shvs', 'ls 1.0', '1.5 i- dtec v', 't6+ at',
       'rxe petrol 104', 'ldi o', '2.4 at 4wd avn', '1.2 ex mt i vtec',
       '110 ps rxz diesel opt', 'zeta 1.4 vvt', '1.2 trend petrol',
       '1.2 vx i-vtech', '1.6 sx at', 'era 1.2 vtvt', 'sportz',
       'lxi 1.0 l', 't8 dual tone', '30 tdi quattro', 'rxl 85ps explore',
       'zeta 1.5 shvs vvt mt', 'rx 6', 'ldi opt', '320d',
       'vxi cng anniversary edition', 'xt rt', 'power+ slx', 'xz+ 1.5',
       '1.2 s crdi', 's 1.1 crdi', '2.0 tdi quattro mt', 'zxi at', 'xp',
       'highline petrol at', 'zdi+ shvs rs mt', 'ambiente 1.8 tsi',
       'elegance tdi 2.0 at', '2.0 crdi at', 'gls 1.6 abs',
       'xl erlx euro iii', 'lx', 't2', 'asta 1.2 o with sunroof',
       '1.8 gl', 'vxi+ (o) mt', 'magna o', '1.1 gvs', '1.4 exi duratorq',
       'lt petrol', 'xi', 'rxl pack diesel 85', '1.2 sv petrol',
       'rxl petrol 104', 'active 1.2', '1.6 zxi abs', 'w4 4x2',
       'emotion 1.3', 'sx 1.8 at', 'aura 1.3 quadrajet', '5 seater',
       'xl cvt', '1.0 s at', '1.4 ls 8 str', '35tdi', '1.4 clxi tdci',
       '1.0 ecoboost titanium', 'ls 1.0 lpg', 'lx special edition',
       'lt opt petrol', 'climber 1.0', 'xm revotron', 'sle bs iv',
       'xz+ 1.2 revotron', 'xm 1.5', 'trendline 1.2l diesel', 'gle',
       'trendline 2.0l tdi', 'gt tdi', 'ambiente 2.0 tdi cr mt',
       '1.4 exi tdci', 'emotion pk 1.4', 's5', 'e20 t2', '2.5 g1 bs iv',
       '320d highline', 'gls at', '2.5 g1', '1.5 v opt. i vtec',
       'comfortline plus 1.0', 'fluidic 1.4 ex crdi',
       '1.6 tdi mt ambition', 'h2 1.8 e', 'w6 at', 'xe 85 ps deisel',
       'elegance 1.6 mpfi at', 'multijet 1.3 90 hp',
       'vdi (o) shvs hybird', '1.5 s i vtec', 'e mt diesel',
       'sx 1.1 crdi', 'gxi', 'xt revotron', 'k2 6 str',
       'fluidic 1.6 crdi sx at', 'ambiente 1.2 mpi',
       'ambition 2.0 tdi 4x2', 'asta 1.1 (o) crdi', '1.3 lt 7 str',
       'vgt crdi sx 1.5', '4x2 lx dicor 2.2 vtt', '2wd at gl diesel',
       '1.6 sx mt', 'xo erlx euro ii', 'xg', 'asta 1.1 crdi',
       'zeta 1.4 vvt amt', 'zxi abs amt', 'k6+ d 6 str', 'cross 1.5 v',
       'vxi musik edition', 'fluidic 1.6 vtvt sx at', 'k8 6 str',
       'k6+ 6 str', 'vxi optional', 'xm rt 90 ps abs',
       '350 blue efficiency', 'trendline 1.6', 'era 1.2',
       '200 cgi avantgarde', '1.5 elegance tdi mt', 'v mt sunroof',
       'delta 1.6', 'zdi shvs hybird', 'fluidic 1.4 vtvt',
       'highline 1.6l petrol', 'lxi cng opt', '1.8 z3', 'd 4d gl',
       'delta 1.3', 'active 2.0 tdi 4x2', 'rxl 110 ps adventure',
       '1.5 v i dtec', 's10 at', 'aura abs safire bs iv', '1.5 vtec plus',
       '1.5 exi', '2.4 at', 'xv d thp premium 110 ps', 'e 1.0',
       'dle 1.5 dci', '2.0 limited 4*2', 'rs 1.0 petrol', 'power+ zlx',
       's 1.8 mt', 'magna 1.1 lpg', 'xms quadrajet 90ps', '1.2 s vtvt',
       '2.2 vx 4x2', 'zxi leather amt', 'comfortline 1.0',
       'vd limited edition', 'k4 6 str', 'xz 1.2 revotron opt',
       'fluidic 1.4 vtvt cx', 'rxz 110 4wd', '1.2 lxi duratec', '2.5 g3',
       'era plus lpg', 'ambition 1.6 mpfi mt', '1.5 i-vtec v cvt',
       '1.2 sports plus vtvt cvt', '2.5 e', '110 ps rxz 8 str', 'zdi +',
       '525d', '1.5 sv i dtec', 'h8 abs airbag bs iv', '1.2 fire',
       'comfortline 1.0 petrol', 'sigma 1.3 ddis shvs', 'lt diesel',
       '1.6', 's 1.0', 'sx 1.6 crdi', '35 tdi technology', 'summum d4',
       'tour', 'xz 1.05 revotorq', 'comfortline 1.4 tsi mt',
       'vlx airbag bs iv', '4wd', 'sport plus petrol', 'sle bs iii',
       'executive', '4x2 ex dicor bs iv', '1.5 e2',
       '1.2 i-vtec s mt edge edition', '525d luxury',
       '4x2 ex dicor 2.2 vtt', 'xe 1.05 revotorq'], dtype=object)

In [295]:
variant = OneHotEncoder(sparse=False)
res_variant = variant.fit_transform(df[["variant"]])
res_variant
variant_encoded = pd.DataFrame(res_variant, index=df.index,columns=variant.categories_)
variant_encoded
df = pd.concat([variant_encoded,df], axis=1)

In [296]:
'''city = OneHotEncoder(sparse=False)
res_city = city.fit_transform(df[["city"]])
res_city
city_encoded = pd.DataFrame(res_city, index=df.index,columns=city.categories_)
city_encoded
df = pd.concat([city_encoded,df], axis=1)'''

'city = OneHotEncoder(sparse=False)\nres_city = city.fit_transform(df[["city"]])\nres_city\ncity_encoded = pd.DataFrame(res_city, index=df.index,columns=city.categories_)\ncity_encoded\ndf = pd.concat([city_encoded,df], axis=1)'

In [297]:
df.shape

(5790, 1437)

In [298]:
'''for i in df.columns:
  print(i)
  print(df[i].unique())
  print("_____________________________________________________________________")
  #printing unique values of each column'''

'for i in df.columns:\n  print(i)\n  print(df[i].unique())\n  print("_____________________________________________________________________")\n  #printing unique values of each column'

In [299]:
null_list = list(df.isnull().sum())
null_list

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [300]:
# I want list of columns with object as datatype
obj_columns = list(df.select_dtypes(include='object'))
obj_columns

['car_name',
 'fuel_type',
 'city',
 'body_type',
 'transmission',
 'variant',
 'registered_city',
 'registered_state',
 'rto',
 'source',
 'make',
 'model',
 'car_availability',
 'car_rating',
 'ad_created_on']

In [301]:
df = df.drop(columns=['model','car_availability','ad_created_on','fuel_type','transmission','body_type','registered_city','rto','source','car_rating','car_name','variant','city','make','registered_state','index', 'id'],axis=1)

In [302]:
print(list(df.columns))

[('1.0 climber opt amt',), ('1.0 ecoboost titanium',), ('1.0 ecoboost titanium opt',), ('1.0 ecoboost titanium sports(sunroof)',), ('1.0 rxl',), ('1.0 rxt',), ('1.0 rxt opt',), ('1.0 rxz',), ('1.0 s at',), ('1.0 t(o) at',), ('1.0 turbo gdi sx+ at',), ('1.0l turbo gdi sx mt',), ('1.0l turbo gdi sx(o) mt',), ('1.1 gvs',), ('1.2  asta (o) cvt',), ('1.2 base i vtec',), ('1.2 e mt i vtec',), ('1.2 ex mt i vtec',), ('1.2 exi duratec',), ('1.2 exmt i vtec',), ('1.2 fire',), ('1.2 i-vtec s mt edge edition',), ('1.2 i-vtec vx mt',), ('1.2 ls abs',), ('1.2 lxi duratec',), ('1.2 magna plus vtvt',), ('1.2 s',), ('1.2 s (o) mt ivtec',), ('1.2 s crdi',), ('1.2 s cvt i vtec',), ('1.2 s i - vtech  alive edition mt',), ('1.2 s mt',), ('1.2 s mt i vtec',), ('1.2 s vtvt',), ('1.2 sat i vtec',), ('1.2 select i vtec',), ('1.2 smt i vtec',), ('1.2 sports plus vtvt',), ('1.2 sports plus vtvt cvt',), ('1.2 sv mt',), ('1.2 sv petrol',), ('1.2 sx',), ('1.2 sx mt i vtec',), ('1.2 titanium',), ('1.2 titanium duratec',), ('1.2 titanium petrol',), ('1.2 trend petrol',), ('1.2 trend+ petrol',), ('1.2 v at',), ('1.2 v cvt i vtec',), ('1.2 v mt',), ('1.2 v mt i vtec',), ('1.2 vx at',), ('1.2 vx at i vtec',), ('1.2 vx i-vtech',), ('1.2 vx mt i vtec',), ('1.2 vxmt i vtec',), ('1.2 zxi duratec',), ('1.3 ls 8 str',), ('1.3 lt 7 str',), ('1.4 clxi tdci',), ('1.4 crdi asta (o)',), ('1.4 crdi ex mt',), ('1.4 crdi s mt',), ('1.4 e plus crdi',), ('1.4 exi duratorq',), ('1.4 exi tdci',), ('1.4 ls 8 str',), ('1.4 s crdi',), ('1.4 s plus crdi',), ('1.4 sx',), ('1.4 titanium duratorq',), ('1.4 zxi duratorq',), ('1.5 alpha shvs',), ('1.5 ambiente tdci',), ('1.5 e mt petrol',), ('1.5 e2',), ('1.5 elegance tdi mt',), ('1.5 emt i dtec',), ('1.5 exi',), ('1.5 exmt i dtec',), ('1.5 i- dtec v',), ('1.5 i-dtec s mt',), ('1.5 i-dtec vx mt',), ('1.5 i-vtec s',), ('1.5 i-vtec v cvt',), ('1.5 s i vtec',), ('1.5 smt i dtec',), ('1.5 sv i dtec',), ('1.5 sx mt i dtec',), ('1.5 tdci titanium plus',), ('1.5 tdi at ambition',), ('1.5 tdi at style plus',), ('1.5 tdi mt elegance',), ('1.5 titanium',), ('1.5 titanium plus ti vct at',), ('1.5 titanium sports edition',), ('1.5 titanium ti vct',), ('1.5 titanium ti vct at',), ('1.5 titaniumtdci opt',), ('1.5 trend',), ('1.5 trend diesel',), ('1.5 trend tdci',), ('1.5 trend ti vct',), ('1.5 trend+ tdci',), ('1.5 v cvt i-dtec',), ('1.5 v i dtec',), ('1.5 v i vtec',), ('1.5 v mt',), ('1.5 v opt. i vtec',), ('1.5 vtec plus',), ('1.5 vxmt i dtec',), ('1.5titanium tdci',), ('1.6',), ('1.6 base',), ('1.6 crdi sx',), ('1.6 crdi sx + at',), ('1.6 crdi sx plus auto',), ('1.6 crdi sx(o) executive',), ('1.6 e + vtvt',), ('1.6 s',), ('1.6 sx (o) crdi',), ('1.6 sx (o) crdi mt',), ('1.6 sx (o) vtvt',), ('1.6 sx at',), ('1.6 sx at crdi',), ('1.6 sx at petrol',), ('1.6 sx crdi',), ('1.6 sx mt',), ('1.6 sx plus auto petrol',), ('1.6 sx plus diesel',), ('1.6 sx plus petrol',), ('1.6 sx plus se',), ('1.6 sx plus vtvt',), ('1.6 sx vtvt',), ('1.6 sx vtvt (o)',), ('1.6 sx vtvt at (o)',), ('1.6 tdi mt ambition',), ('1.6 tdi mt ambition plus',), ('1.6 zxi abs',), ('1.8 g',), ('1.8 gl',), ('1.8 tsi lk at',), ('1.8 tsi style at',), ('1.8 z3',), ('1.8v at',), ('1.8v mt',), ('110 ps rxz 8 str',), ('110 ps rxz diesel opt',), ('110 ps rxz diesel plus',), ('2.0 2wd at',), ('2.0 crdi at',), ('2.0 limited',), ('2.0 limited 4*2',), ('2.0 longitude',), ('2.0 longitude (o)',), ('2.0 sport',), ('2.0 tdi',), ('2.0 tdi cr lk at',), ('2.0 tdi premium plus',), ('2.0 tdi quattro',), ('2.0 tdi quattro mt',), ('2.0 tdi s line',), ('2.2 vx 4x2',), ('2.4 at',), ('2.4 at 4wd avn',), ('2.4 at i vtec',), ('2.4 gx 7 str',), ('2.4 gx 8 str',), ('2.4 mt',), ('2.4 vx 8 str',), ('2.4 zx 7 str',), ('2.5 e',), ('2.5 g1',), ('2.5 g1 bs iv',), ('2.5 g2 7 seater',), ('2.5 g3',), ('2.5 g3 8 str',), ('2.5 g4 7 str',), ('2.5 g4 8 str',), ('2.5 gx 7 str bs iv',), ('2.5 gx 8 str bs iv',), ('2.5 v 7str',), ('2.5 v 8 str',), ('2.5 vx 7 str bs iv',), ('2.5 vx 8 str bs iv',), ('2.5 zx 7 str bs iv',), ('2.8 4x2 at',), ('2.8 4x2 mt',), ('2.8 gx at 7 str',), ('2.8 gx at 8 str',), ('2.8 zx at 7 str',), ('200 cdi sport',), ('200 cdi style',), ('200 cgi avantgarde',), ('200 cgi spotrs',), ('200 elegance',), ('250 cdi',), ('250 cdi avantgarde',), ('250 cdi elegance at',), ('2wd at gl diesel',), ('3.0 at 4x2',), ('3.0 at 4x4',), ('3.0 mt 4x2',), ('3.0 mt 4x4',), ('30 tdi premium',), ('30 tdi quattro',), ('320d',), ('320d highline',), ('320d luxuryline',), ('35 tdi quattro',), ('35 tdi technology',), ('350 blue efficiency',), ('35tdi',), ('4*4 mt',), ('40 tfsi premium',), ('4wd',), ('4wd at',), ('4x2 ex dicor 2.2 vtt',), ('4x2 ex dicor bs iv',), ('4x2 lx dicor 2.2 vtt',), ('5 seater',), ('5 str',), ('5 str cng with ac plushtr',), ('5 str with ac plus htr',), ('5 str with ac plushtr',), ('520d 2.0',), ('525d',), ('525d luxury',), ('7 str',), ('85 ps rxe',), ('85 ps rxe diesel adventure',), ('85 ps rxl',), ('85 ps rxl opt',), ('a180 cdi style',), ('active 1.2',), ('active 1.3',), ('active 2.0 tdi 4x2',), ('alpha 1.2 k12',), ('alpha 1.2 k12 amt',), ('alpha 1.2 k12 dual tone',), ('alpha 1.3',), ('alpha 1.3 ddis shvs',), ('alpha 1.4 vvt amt',), ('alpha 1.5 at vtvt shvs',), ('alpha 1.5 mt vvt shvs',), ('alpha ddis 190',), ('alpha shvs',), ('alpha shvs  mt',), ('ambiente',), ('ambiente 1.2 mpi',), ('ambiente 1.8 tsi',), ('ambiente 2.0 tdi cr at',), ('ambiente 2.0 tdi cr mt',), ('ambition 1.6 mpfi mt',), ('ambition 1.6 mpi mt plus',), ('ambition 1.6 tdi mt',), ('ambition 2.0 tdi 4x2',), ('asta 1.1 (o) crdi',), ('asta 1.1 crdi',), ('asta 1.2',), ('asta 1.2 (o)',), ('asta 1.2 (o) vtvt',), ('asta 1.2 at vtvt',), ('asta 1.2 at with sunroof',), ('asta 1.2 dual tone',), ('asta 1.2 kappa vtvt',), ('asta 1.2 kappa vtvt opt',), ('asta 1.2 kappa2',), ('asta 1.2 o with sunroof',), ('asta 1.2 vtvt',), ('asta 1.4 crdi',), ('asta 1.4 crdi 6 speed',), ('asta at 1.2 kappa vtvt',), ('asta petrol',), ('aura 1.3 quadrajet',), ('aura abs safire bs iv',), ('c 220 cdi avantgarde',), ('c 220 cdi classic',), ('c220 cdi grand edition',), ('c8',), ('cla 200 cdi sport',), ('climber 1.0',), ('climber 1.0 at',), ('comfortline 1.0',), ('comfortline 1.0 petrol',), ('comfortline 1.2',), ('comfortline 1.2l diesel',), ('comfortline 1.2l petrol',), ('comfortline 1.4 tsi mt',), ('comfortline 1.5l diesel',), ('comfortline 2.0l tdi',), ('comfortline diesel',), ('comfortline plus 1.0',), ('comfortline tdi at',), ('comfortline tsi at',), ('crde 4x4 bs iv',), ('cross 1.2 g',), ('cross 1.4 gd',), ('cross 1.5 v',), ('d 4d g',), ('d 4d gd',), ('d 4d gd sp',), ('d 4d gl',), ('d 4d j',), ('d 4d vd',), ('d lite',), ('d lite plus',), ('d-4d vxd',), ('delta 1.2 k12',), ('delta 1.2 k12 amt',), ('delta 1.2 k12 at',), ('delta 1.3',), ('delta 1.3 ddis shvs',), ('delta 1.4 vvt',), ('delta 1.5 shvs vvt at',), ('delta 1.6',), ('delta ddis 190',), ('delta shvs',), ('dle 1.5 dci',), ('dynamic 1.3',), ('dynamic 1.3 multijet',), ('e 1.0',), ('e 220 cdi elegance',), ('e 250 cdi classic',), ('e 250 cdi elegance',), ('e mt diesel',), ('e plus',), ('e20 t2',), ('e8 abs bs iv',), ('elegance 1.2 mpi',), ('elegance 1.6 mpfi at',), ('elegance 1.6 tdi mt',), ('elegance 1.8 tsi at',), ('elegance 1.8 tsi mt',), ('elegance 2.0 tdi cr at',), ('elegance tdi 2.0 at',), ('emotion 1.3',), ('emotion 1.3 multijet',), ('emotion pack 1.3 90 hp',), ('emotion pk 1.4',), ('era',), ('era 1.1 irde',), ('era 1.2',), ('era 1.2 kappa vtvt',), ('era 1.2 vtvt',), ('era 1.4 crdi',), ('era plus',), ('era plus (o)',), ('era plus lpg',), ('executive',), ('executive gle',), ('fluidic 1.4 crdi',), ('fluidic 1.4 crdi cx',), ('fluidic 1.4 ex crdi',), ('fluidic 1.4 vtvt',), ('fluidic 1.4 vtvt cx',), ('fluidic 1.6 crdi s',), ('fluidic 1.6 crdi sx at',), ('fluidic 1.6 crdi sx opt at',), ('fluidic 1.6 ex crdi',), ('fluidic 1.6 ex vtvt',), ('fluidic 1.6 sx crdi',), ('fluidic 1.6 sx crdi opt',), ('fluidic 1.6 sx vtvt',), ('fluidic 1.6 sx vtvt opt',), ('fluidic 1.6 sx vtvt opt at',), ('fluidic 1.6 vtvt s (o)  mt',), ('fluidic 1.6 vtvt sx at',), ('g',), ('g at',), ('g cvt',), ('g sp',), ('gd',), ('gd exclusive',), ('gl',), ('gl plus',), ('gl plus lpg',), ('gle',), ('gls',), ('gls 1.6 abs',), ('gls at',), ('gls lpg',), ('gt tdi',), ('gt tdi 1.6 mt diesel',), ('gt tsi',), ('gt tsi 1.2 petrol at',), ('gxi',), ('h2 1.8 e',), ('h4 abs bs iv',), ('h8 abs airbag bs iv',), ('he 1.8 j',), ('high 4x2 mt',), ('high line plus 1.0',), ('highline 1.0 petrol',), ('highline 1.2',), ('highline 1.2 tsi at',), ('highline 1.5',), ('highline 1.5l at (d)',), ('highline 1.6l petrol',), ('highline diesel',), ('highline petrol',), ('highline petrol at',), ('highline plus dsg 1.5',), ('highline tdi at',), ('highline1.2l diesel',), ('highline1.2l petrol',), ('highline1.5l diesel',), ('hybrid',), ('j cvt',), ('j mt',), ('k10 vxi at',), ('k2 6 str',), ('k4 6 str',), ('k4+ d 6 str',), ('k6 d 6 str',), ('k6+ 6 str',), ('k6+ d 6 str',), ('k8 6 str',), ('k8 d 6 str',), ('kinetic d4',), ('kraz at petrol',), ('ldi',), ('ldi bs iv',), ('ldi o',), ('ldi opt',), ('limited (o) 2.0',), ('limited 1.4 at',), ('ls 1.0',), ('ls 1.0 lpg',), ('ls diesel',), ('ls petrol',), ('lt 1.0',), ('lt diesel',), ('lt opt petrol',), ('lt petrol',), ('ltz',), ('ltz at',), ('lx',), ('lx bs iv',), ('lx special edition',), ('lxi',), ('lxi 1.0 l',), ('lxi 1.2 bs iv',), ('lxi 1.3',), ('lxi cng',), ('lxi cng avance limited edition',), ('lxi cng opt',), ('lxi krest limited edition',), ('lxi lpg',), ('lxi minor',), ('lxi opt',), ('magna',), ('magna 1.1 crdi',), ('magna 1.1 irde2',), ('magna 1.1 lpg',), ('magna 1.2',), ('magna 1.2 at',), ('magna 1.2 at  vtvt',), ('magna 1.2 crdi',), ('magna 1.2 kappa vtvt',), ('magna 1.2 kappa2',), ('magna 1.2 vtvt',), ('magna 1.4 crdi',), ('magna executive 1.2',), ('magna executive diesel',), ('magna o',), ('magna o 1.2',), ('magna o 1.4 crdi',), ('magna plus',), ('magna plus blue drive',), ('magna plus optional',), ('multijet 1.3 90 hp',), ('n6 mhawk',), ('neotech 1.0 easyr',), ('power+ sle',), ('power+ slx',), ('power+ zlx',), ('pure 4x2',), ('revotron xt',), ('rs 1.0 petrol',), ('rx 6',), ('rx l petrol',), ('rx7',), ('rxe petrol 104',), ('rxe petrol mt',), ('rxl',), ('rxl 110 ps adventure',), ('rxl 85ps explore',), ('rxl amt 110 ps',), ('rxl diesel 110',), ('rxl pack diesel 85',), ('rxl petrol 104',), ('rxl plus diesel 85',), ('rxl1.0 easy-r at',), ('rxs cvt 106 ps',), ('rxt',), ('rxt 1.0 easy-r  at',), ('rxt 1.0 easy-r at option',), ('rxt opt',), ('rxz',), ('rxz 110 4wd',), ('rxz amt 110 ps',), ('rxz diesel 110',), ('s',), ('s 1.0',), ('s 1.1 crdi',), ('s 1.1 crdi opt',), ('s 1.2',), ('s 1.2 opt',), ('s 1.6 mt',), ('s 1.8 mt',), ('s at',), ('s mt',), ('s mt diesel',), ('s mt petrol',), ('s10',), ('s10 7 str',), ('s10 at',), ('s11',), ('s2',), ('s5',), ('s5 2wd',), ('s6 plus',), ('s6+ intell hybrid',), ('s8',), ('s9',), ('sdrive 20d',), ('shvs vdi',), ('sigma 1.2 k12',), ('sigma 1.3',), ('sigma 1.3 ddis shvs',), ('sigma ddis 190',), ('sle bs iii',), ('sle bs iv',), ('slx bs iv',), ('sport 1.3',), ('sport plus petrol',), ('sports 1.2 vtvt',), ('sportz',), ('sportz (o) 1.2',), ('sportz (o) 1.2 at vtvt',), ('sportz (o) 1.4',), ('sportz 1.1 crdi',), ('sportz 1.1 irde2',), ('sportz 1.2',), ('sportz 1.2 at',), ('sportz 1.2 at kappa2',), ('sportz 1.2 kappa vtvt',), ('sportz 1.2 kappa2',), ('sportz 1.2 o',), ('sportz 1.2 vtvt',), ('sportz 1.4',), ('sportz 1.4 crdi',), ('sportz at 1.2 kappa vtvt',), ('sportz o 1.2',), ('sportz o 1.4 crdi',), ('sportz petrol',), ('sportz(o) 1.2 mt',), ('sportz1.2 crdi',), ('std',), ('style 1.5 tdi at',), ('style 1.6 mpi mt',), ('summum d4',), ('sv cvt petrol',), ('sv mt diesel',), ('sv mt petrol',), ('sx 1.1 crdi',), ('sx 1.2',), ('sx 1.2 opt',), ('sx 1.6 crdi',), ('sx 1.8 at',), ('sx at 1.2 opt',), ('sx o mt 1.2 diesel',), ('sx(o) crdi',), ('t',), ('t (o)',), ('t 10 mt dual tone',), ('t2',), ('t6+',), ('t6+ at',), ('t8',), ('t8 at',), ('t8 dual tone',), ('titanium plus petrol at',), ('tour',), ('tour s diesel',), ('touring sport diesel at',), ('transform 1.6 vtvt',), ('trendline 1.0 l petrol',), ('trendline 1.2l diesel',), ('trendline 1.2l petrol',), ('trendline 1.6',), ('trendline 2.0l tdi',), ('trendline petrol',), ('twist xta',), ('v',), ('v  limited',), ('v at',), ('v cvt',), ('v mt diesel',), ('v mt petrol',), ('v mt sunroof',), ('varicor 400 xma',), ('varicor 400 xta',), ('vd',), ('vd limited edition',), ('vdi',), ('vdi (o) shvs hybird',), ('vdi abs',), ('vdi amt',), ('vdi bs iv',), ('vdi dual tone',), ('vdi elate limited edition',), ('vdi glory edition',), ('vdi opt',), ('vdi plus',), ('vdi shvs',), ('vdi+ shvs',), ('vgt crdi sx 1.5',), ('vl at',), ('vlx 2wd bs iv',), ('vlx airbag bs iv',), ('vx',), ('vx  1.2',), ('vx (o) petrol',), ('vx cvt petrol',), ('vx mt diesel',), ('vx mt o diesel',), ('vx mt petrol',), ('vx quadrajet',), ('vxi',), ('vxi (o)',), ('vxi (o) amt',), ('vxi 1.2 bs iv',), ('vxi 1.3',), ('vxi abs',), ('vxi abs air bag',), ('vxi abs at',), ('vxi amt',), ('vxi at',), ('vxi bs iii',), ('vxi bs iv',), ('vxi cng',), ('vxi cng anniversary edition',), ('vxi deca',), ('vxi elate limited edition',), ('vxi genus',), ('vxi limited edition',), ('vxi minor',), ('vxi musik edition',), ('vxi opt',), ('vxi opt. mt',), ('vxi optional',), ('vxi plus',), ('vxi plus ags',), ('vxi plus amt',), ('vxi regal limited edition',), ('vxi+ (o) mt',), ('w10',), ('w10 at',), ('w10 at awd',), ('w10 at fwd',), ('w10 fwd',), ('w11 (o)',), ('w11 at',), ('w4',), ('w4 4x2',), ('w4 petrol',), ('w6 4x2',), ('w6 at',), ('w7 fwd',), ('w8 fwd',), ('w8(o)',), ('w9',), ('xcite',), ('xdrive 20d',), ('xe 1.05 revotorq',), ('xe 1.2 revotron',), ('xe 85 ps deisel',), ('xe diesel',), ('xe revotron',), ('xg',), ('xi',), ('xl cvt',), ('xl cvt (petrol)',), ('xl diesel',), ('xl erlx euro iii',), ('xl p',), ('xl petrol',), ('xl plus 85 ps deisel',), ('xm 1.2',), ('xm 1.5',), ('xm revotron',), ('xm rt 90 ps abs',), ('xma 1.5',), ('xms quadrajet 90ps',), ('xms rt',), ('xo erlx euro ii',), ('xo erlx euro iii',), ('xp',), ('xt 1.05 revotorq',), ('xt 1.2 revotron',), ('xt revotron',), ('xt rt',), ('xt twist',), ('xv',), ('xv 110 diesel',), ('xv cvt',), ('xv d thp premium 110 ps',), ('xv diesel',), ('xv petrol',), ('xv s',), ('xxi',), ('xz 1.05 revotorq',), ('xz 1.2 revotron',), ('xz 1.2 revotron opt',), ('xz 2.0l kryotec',), ('xz+ 1.2 revotron',), ('xz+ 1.5',), ('xza + 1.2 petrol a/t',), ('xza 1.2 revotron',), ('xza+ 1.2 rtn',), ('xza+ 1.5',), ('zdi',), ('zdi +',), ('zdi + amt',), ('zdi amt',), ('zdi plus',), ('zdi plus 1.5 diesel',), ('zdi plus amt',), ('zdi plus dual tone',), ('zdi plus shvs',), ('zdi shvs',), ('zdi shvs hybird',), ('zdi+ dual tone amt',), ('zdi+ shvs',), ('zdi+ shvs rs mt',), ('zeta 1.2 k12',), ('zeta 1.2 k12 amt',), ('zeta 1.2 k12 cvt',), ('zeta 1.3',), ('zeta 1.3 ddis shvs',), ('zeta 1.4 vvt',), ('zeta 1.4 vvt amt',), ('zeta 1.5 shvs vvt mt',), ('zeta ddis 190',), ('zeta shvs',), ('zeta shvs petrol',), ('zlx',), ('zlx special edition',), ('zx cvt',), ('zx cvt petrol',), ('zxi',), ('zxi 1.2 bs iv',), ('zxi 1.3',), ('zxi abs',), ('zxi abs amt',), ('zxi amt',), ('zxi at',), ('zxi leather amt',), ('zxi mt bs iv',), ('zxi opt',), ('zxi opt amt',), ('zxi plus',), ('zxi plus amt',), ('zxi smart hybrid',), ('zxi+ bs iv',), ('audi a3',), ('audi a4',), ('audi a6',), ('audi q3',), ('bmw 3 series',), ('bmw 5 series',), ('bmw x1',), ('bmw x3',), ('chevrolet beat',), ('chevrolet cruze',), ('chevrolet enjoy',), ('chevrolet sail uva',), ('chevrolet spark',), ('datsun go',), ('datsun go plus',), ('datsun redi go',), ('fiat grand punto',), ('fiat linea',), ('fiat punto evo',), ('fiat punto pure',), ('ford ecosport',), ('ford fiesta',), ('ford fiesta classic',), ('ford figo',), ('ford figo aspire',), ('ford new figo',), ('honda accord',), ('honda amaze',), ('honda br-v',), ('honda brio',), ('honda city',), ('honda city zx',), ('honda civic',), ('honda crv',), ('honda jazz',), ('honda mobilio',), ('honda wr-v',), ('hyundai accent',), ('hyundai aura',), ('hyundai creta',), ('hyundai elite i20',), ('hyundai eon',), ('hyundai getz prime',), ('hyundai grand i10',), ('hyundai grand i10 nios',), ('hyundai i10',), ('hyundai i20',), ('hyundai i20 active',), ('hyundai new elantra',), ('hyundai santa fe',), ('hyundai santro xing',), ('hyundai sonata transform',), ('hyundai tucson new',), ('hyundai venue',), ('hyundai verna',), ('hyundai xcent',), ('isuzu d-max v cross',), ('isuzu mu-7',), ('jeep compass',), ('mahindra bolero',), ('mahindra e2o',), ('mahindra kuv100',), ('mahindra nuvosport',), ('mahindra quanto',), ('mahindra renault logan',), ('mahindra reva',), ('mahindra scorpio',), ('mahindra thar',), ('mahindra tuv300',), ('mahindra xuv 3oo',), ('mahindra xuv500',), ('mahindra xylo',), ('maruti a star',), ('maruti alto',), ('maruti alto 800',), ('maruti alto k10',), ('maruti baleno',), ('maruti celerio',), ('maruti celerio x',), ('maruti ciaz',), ('maruti dzire',), ('maruti eeco',), ('maruti ertiga',), ('maruti ignis',), ('maruti new  wagon-r',), ('maruti omni',), ('maruti omni e',), ('maruti ritz',), ('maruti s cross',), ('maruti s presso',), ('maruti swift',), ('maruti swift dzire',), ('maruti sx4',), ('maruti vitara brezza',), ('maruti wagon r',), ('maruti wagon r 1.0',), ('maruti wagon r duo',), ('maruti wagon r stingray',), ('maruti xl6',), ('maruti zen',), ('maruti zen estilo',), ('mercedes benz a class',), ('mercedes benz c class',), ('mercedes benz cla class',), ('mercedes benz cls class',), ('mercedes benz e class',), ('mercedes benz gla class',), ('mercedes benz ml class',), ('nissan micra',), ('nissan micra active',), ('nissan nissan kicks',), ('nissan sunny',), ('nissan terrano',), ('opel astra',), ('renault captur',), ('renault duster',), ('renault fluence',), ('renault kwid',), ('renault lodgy',), ('renault pulse',), ('renault scala',), ('renault triber',), ('skoda fabia',), ('skoda laura',), ('skoda octavia',), ('skoda rapid',), ('skoda superb',), ('skoda yeti',), ('ssangyong rexton',), ('tata aria',), ('tata bolt',), ('tata harrier',), ('tata hexa',), ('tata indica vista',), ('tata manza',), ('tata nano',), ('tata nexon',), ('tata safari',), ('tata safari storme',), ('tata tiago',), ('tata tigor',), ('tata zest',), ('toyota camry',), ('toyota corolla',), ('toyota corolla altis',), ('toyota etios',), ('toyota etios liva',), ('toyota fortuner',), ('toyota glanza',), ('toyota innova',), ('toyota innova crysta',), ('toyota prius',), ('toyota yaris',), ('volkswagen ameo',), ('volkswagen cross polo',), ('volkswagen jetta',), ('volkswagen polo',), ('volkswagen vento',), ('volvo s60',), ('fair',), ('good',), ('great',), ('overpriced',), ('audi',), ('bmw',), ('chevrolet',), ('datsun',), ('fiat',), ('ford',), ('honda',), ('hyundai',), ('isuzu',), ('jeep',), ('mahindra',), ('mahindra renault',), ('maruti',), ('mercedes benz',), ('nissan',), ('opel',), ('renault',), ('skoda',), ('ssangyong',), ('tata',), ('toyota',), ('volkswagen',), ('volvo',), ('inperson_sale',), ('online',), ('ap02',), ('ap04',), ('ap05',), ('ap07',), ('ap09',), ('ap10',), ('ap11',), ('ap12',), ('ap13',), ('ap16',), ('ap20',), ('ap23',), ('ap24',), ('ap25',), ('ap28',), ('ap29',), ('ap31',), ('ap36',), ('ap37',), ('ap39',), ('dl05',), ('dl10',), ('dl11',), ('dl12',), ('dl13',), ('dl14',), ('dl1c',), ('dl2c',), ('dl3c',), ('dl4c',), ('dl5c',), ('dl6c',), ('dl7c',), ('dl8c',), ('dl9c',), ('gj01',), ('gj02',), ('gj03',), ('gj04',), ('gj05',), ('gj06',), ('gj07',), ('gj08',), ('gj10',), ('gj12',), ('gj15',), ('gj18',), ('gj19',), ('gj20',), ('gj21',), ('gj23',), ('gj24',), ('gj27',), ('gj38',), ('hr01',), ('hr02',), ('hr03',), ('hr05',), ('hr06',), ('hr08',), ('hr10',), ('hr12',), ('hr13',), ('hr14',), ('hr15',), ('hr16',), ('hr26',), ('hr27',), ('hr29',), ('hr30',), ('hr34',), ('hr35',), ('hr36',), ('hr38',), ('hr45',), ('hr50',), ('hr51',), ('hr55',), ('hr70',), ('hr72',), ('hr76',), ('hr80',), ('hr81',), ('hr87',), ('hr89',), ('hr95',), ('jh01',), ('ka01',), ('ka02',), ('ka03',), ('ka04',), ('ka05',), ('ka06',), ('ka07',), ('ka08',), ('ka09',), ('ka12',), ('ka13',), ('ka18',), ('ka19',), ('

In [303]:
df.to_csv('car_updated_dataset_test.csv')

Implementing simple regression algorithm on pre-processed data to check what happens !!

In [304]:
X = df
X = X.drop(['sale_price'],axis=1)

In [305]:
Y = df.loc[:,'sale_price']
Y

0       386399
1       265499
2       307999
3       361499
4       335299
         ...
5785    507599
5786    288899
5787    215000
5788    210000
5789    360000
Name: sale_price, Length: 5790, dtype: int64

In [306]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.2)

In [307]:
print(x_train.shape)
print(x_test.shape)

(4632, 1419)
(1158, 1419)

In [308]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
pred = model.predict(x_test)

/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(

In [309]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,pred)
print("R2 score: ",r2)

R2 score:  0.9999999999958964

In [310]:
# Adjusted R2 score
n=5790 # n = number of observations (rows)
k=1455 # k = number of dimensions (independent variables)
adj_r2_score = 1 - ((1-r2)*(n-1)/(n-k-1))
print("Adjusted R2_score: ",adj_r2_score)

Adjusted R2_score:  0.9999999999945187

In [311]:
# MAE - Mean absolute Error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import numpy as np
print("MAE: ",mean_absolute_error(y_test,pred))
print("MSE: ",mean_squared_error(y_test,pred))
mse = mean_squared_error(y_test,pred)
rmse = np.sqrt(mse)
print("RMSE: ", np.round(rmse, 2))

MAE:  0.1750914574301889
MSE:  0.27692087524104114
RMSE:  0.53

In [312]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model,X,Y,scoring="neg_mean_squared_error",cv=5, n_jobs=1)

rmse = np.sqrt(-scores)
print("RMSE values: ", np.round(rmse, 2))
print("RMSE average: ", np.mean(rmse))

/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(
/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(

RMSE values:  [1.5012527e+05 6.5000000e-01 4.8157870e+04 1.5113433e+05 3.6801900e+03]
RMSE average:  70619.66277766737

/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['str', 'tuple']. An error will be raised in 1.2.
  warnings.warn(

In [313]:
'''import pickle
pickle.dump(model,open('model1_one_hot_encoding.pk1','wb'))'''

"import pickle\npickle.dump(model,open('model1_one_hot_encoding.pk1','wb'))"

##### Data visualization using scatterplot is not working because X,Y are not of same size