In [1]:
import pandas as pd
df = pd.read_csv('/home/sarang/Desktop/AML-pro-assignment/car_updated_dataset.csv',index_col=0)
df.reset_index(inplace=True)
df.head()

,index,id,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,...,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
0,0,1,maruti swift,2015,petrol,8063,386399,noida,18715,hatchback,...,2,397677,404177.0,great,2021-04-04T07:09:18.583,True,8975,57960,False,False
1,1,2,maruti alto 800,2016,petrol,23104,265499,noida,2676,hatchback,...,1,272935,354313.0,great,2021-03-22T14:07:32.833,True,6167,39825,False,False
2,3,4,maruti swift,2013,diesel,39124,307999,noida,6511,hatchback,...,1,294262,374326.0,great,2021-01-21T12:59:19.299,True,7154,46200,False,False
3,4,5,hyundai grand i10,2015,petrol,22116,361499,noida,3225,hatchback,...,1,360716,367216.0,great,2021-04-01T13:33:40.733,True,8397,54225,False,False
4,5,6,maruti alto k10,2018,petrol,23534,335299,noida,1055,hatchback,...,1,343212,439056.0,great,2021-04-13T05:55:16.99,True,7788,50295,False,False

In [2]:
obj_columns = list(df.select_dtypes(include='object'))
obj_columns

['car_name',
 'fuel_type',
 'city',
 'body_type',
 'transmission',
 'variant',
 'registered_city',
 'registered_state',
 'rto',
 'source',
 'make',
 'model',
 'car_availability',
 'car_rating',
 'ad_created_on']

In [3]:
df = df.drop(columns=['registered_state','index','id','ad_created_on','model','times_viewed','reserved'],axis=1)

In [4]:
obj_columns = list(df.select_dtypes(include='object'))
obj_columns

['car_name',
 'fuel_type',
 'city',
 'body_type',
 'transmission',
 'variant',
 'registered_city',
 'rto',
 'source',
 'make',
 'car_availability',
 'car_rating']

In [5]:
from category_encoders import TargetEncoder
Targetenc = TargetEncoder()
# transforming the column after fitting
for obj in obj_columns:
    df[obj]= Targetenc.fit_transform(df[obj],y= df['sale_price'])
df.head(10)

/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/category_encoders/target_encoder.py:92: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter min_samples_leaf will change in version 2.6."
/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/category_encoders/target_encoder.py:97: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter smoothing will change in version 2.6."

,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,body_type,transmission,variant,assured_buy,...,make,car_availability,total_owners,broker_quote,original_price,car_rating,fitness_certificate,emi_starts_from,booking_down_pymnt,warranty_avail
0,419337.750557,2015,389434.788305,8063,386399,436831.265152,352195.122276,430622.013629,392537.142982,True,...,404957.676820,452577.244585,2,397677,404177.0,477300.746019,True,8975,57960,False
1,269446.578378,2016,389434.788305,23104,265499,436831.265152,352195.122276,430622.013629,248586.252551,True,...,404957.676820,452577.244585,1,272935,354313.0,477300.746019,True,6167,39825,False
2,419337.750557,2013,613665.471388,39124,307999,436831.265152,352195.122276,430622.013629,453869.084906,True,...,404957.676820,452577.244585,1,294262,374326.0,477300.746019,True,7154,46200,False
3,433914.191964,2015,389434.788305,22116,361499,436831.265152,352195.122276,430622.013629,337683.162162,False,...,417932.235461,452577.244585,1,360716,367216.0,477300.746019,True,8397,54225,False
4,269298.512563,2018,389434.788305,23534,335299,436831.265152,352195.122276,430622.013629,380377.995543,True,...,404957.676820,452577.244585,1,343212,439056.0,477300.746019,True,7788,50295,False
5,323773.004739,2012,389434.788305,38328,321499,436831.265152,352195.122276,430622.013629,460579.303030,True,...,417932.235461,452577.244585,3,319200,410764.0,477300.746019,True,7468,48225,False
6,566041.279762,2014,613665.471388,56402,456199,436831.265152,352195.122276,430622.013629,422727.659331,True,...,417932.235461,452577.244585,1,452023,566123.0,477300.746019,True,10596,68430,False
7,325850.755245,2018,389434.788305,32703,281299,436831.265152,352195.122276,430622.013629,294499.000120,True,...,388381.711538,445026.221053,1,264597,344127.0,477300.746019,True,6534,42195,False
8,269446.578378,2014,389434.788305,53180,206899,436831.265152,352195.122276,430622.013629,248586.252551,True,...,404957.676820,452577.244585,1,200605,207105.0,477300.746019,True,4806,31035,False
9,323773.004739,2012,613665.471388,55764,287999,436831.265152,352195.122276,430622.013629,339174.000639,True,...,417932.235461,452577.244585,2,275325,356231.0,477300.746019,True,6689,43200,False

In [6]:
x = df.drop(columns=['sale_price'],axis=1)
y = df['sale_price']

-------------------------------------------------------------------------------------X------------------------------------------------------------------------------------

Implementing Linear Regression

In [7]:
from sklearn.preprocessing import StandardScaler
scale= StandardScaler()
x_scaled = scale.fit_transform(x)

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.2,random_state=52)

In [9]:
from sklearn.linear_model import LinearRegression
model1 = LinearRegression()
model1.fit(x_train,y_train)
linear_pred = model1.predict(x_test)

In [10]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.model_selection import cross_val_score
r2 = r2_score(y_test,linear_pred)
print("R2 score: ",np.round(r2,3))
n=5790 # n = number of observations (rows)
k=23 # k = number of dimensions (independent variables)
adj_r2_score = 1 - ((1-r2)*(n-1)/(n-k-1))
print("Adjusted R2_score: ",np.round(adj_r2_score,3))
print("MAE: ",np.round(mean_absolute_error(y_test,linear_pred),3))
print("MSE: ",np.round(mean_squared_error(y_test,linear_pred),3))
mse = mean_squared_error(y_test,linear_pred)
rmse = np.sqrt(mse)
print("RMSE: ", np.round(rmse, 3))
#scores = cross_val_score(model1,x_train,y_train,cv=10,scoring='neg_mean_squared_error')
#avg_score = np.mean(-scores)
#print("Average score using cross validation: ",avg_score)

R2 score:  -254235753000.748
Adjusted R2_score:  -255249874110.537
MAE:  3785236576.557
MSE:  1.659184245759577e+22
RMSE:  128809325972.911

-------------------------------------------------------------------------------------X------------------------------------------------------------------------------------

Implementing SVM

In [ ]:
x_svr = scale.fit_transform(x)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x_svr,y,random_state=52,train_size=0.8)

In [ ]:
from sklearn.svm import SVR
regressor = SVR()
regressor.fit(x_train, y_train)
svr_pred = regressor.predict(x_test)

In [ ]:
r2 = r2_score(y_test,svr_pred)
print("R2 score: ",np.round(r2,3))
n=5790 # n = number of observations (rows)
k=23 # k = number of dimensions (independent variables)
adj_r2_score = 1 - ((1-r2)*(n-1)/(n-k-1))
print("Adjusted R2_score: ",np.round(adj_r2_score,3))
print("MAE: ",np.round(mean_absolute_error(y_test,svr_pred),3))
print("MSE: ",np.round(mean_squared_error(y_test,svr_pred),3))
mse = mean_squared_error(y_test,svr_pred)
rmse = np.sqrt(mse)
print("RMSE: ", np.round(rmse, 3))
#scores = cross_val_score(regressor,x_train,y_train,cv=10,scoring='neg_mean_squared_error')
#avg_score = np.mean(-scores)
#print("Average score using cross validation: ",avg_score)

-------------------------------------------------------------------------------------X------------------------------------------------------------------------------------

Implementing RandomForest

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=52,test_size=0.2)

In [18]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(x_train,y_train)
rfr_pred = rf.predict(x_test)

In [19]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.model_selection import cross_val_score
r2 = r2_score(y_test,rfr_pred)
print("R2 score: ",np.round(r2,3))
n=5790 # n = number of observations (rows)
k=23 # k = number of dimensions (independent variables)
adj_r2_score = 1 - ((1-r2)*(n-1)/(n-k-1))
print("Adjusted R2_score: ",np.round(adj_r2_score,3))
print("MAE: ",np.round(mean_absolute_error(y_test,rfr_pred),3))
print("MSE: ",np.round(mean_squared_error(y_test,rfr_pred),3))
mse = mean_squared_error(y_test,rfr_pred)
rmse = np.sqrt(mse)
print("RMSE: ", np.round(rmse, 3))
#scores = cross_val_score(rf,x_train,y_train,cv=10,scoring='neg_mean_squared_error')
#avg_score = np.mean(-scores)
#print("Average score using cross validation: ",avg_score)

R2 score:  0.999
Adjusted R2_score:  0.999
MAE:  528.435
MSE:  37018081.216
RMSE:  6084.249

-------------------------------------------------------------------------------------X------------------------------------------------------------------------------------

Implementing DecisionTree

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=52,test_size=0.2)

In [27]:
from sklearn.tree import DecisionTreeRegressor 
decision = DecisionTreeRegressor() 
decision.fit(x_train, y_train)
dtr_pred = decision.predict(x_test)

In [28]:
r2 = r2_score(y_test,dtr_pred)
print("R2 score: ",np.round(r2,3))
n=5790 # n = number of observations (rows)
k=23 # k = number of dimensions (independent variables)
adj_r2_score = 1 - ((1-r2)*(n-1)/(n-k-1))
print("Adjusted R2_score: ",np.round(adj_r2_score,3))
print("MAE: ",np.round(mean_absolute_error(y_test,dtr_pred),3))
print("MSE: ",np.round(mean_squared_error(y_test,dtr_pred),3))
mse = mean_squared_error(y_test,dtr_pred)
rmse = np.sqrt(mse)
print("RMSE: ", np.round(rmse, 3))
#scores = cross_val_score(decision,x_train,y_train,cv=10,scoring='neg_mean_squared_error')
#avg_score = np.mean(-scores)
#print("Average score using cross validation: ",avg_score)

R2 score:  1.0
Adjusted R2_score:  1.0
MAE:  661.481
MSE:  16377299.915
RMSE:  4046.888

-------------------------------------------------------------------------------------X------------------------------------------------------------------------------------

Implementing Lasso Regression

In [38]:
from sklearn.preprocessing import StandardScaler
scale= StandardScaler()
x_scaled = scale.fit_transform(x)

In [92]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=52,train_size=0.8)

In [93]:
from sklearn import linear_model
lassoReg = linear_model.Lasso()
lassoReg.fit(x_train,y_train)
lr_pred = lassoReg.predict(x_test)

In [94]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.model_selection import cross_val_score
r2 = r2_score(y_test,lr_pred)
print("R2 score: ",np.round(r2,3))
n=5790 # n = number of observations (rows)
k=23 # k = number of dimensions (independent variables)
adj_r2_score = 1 - ((1-r2)*(n-1)/(n-k-1))
print("Adjusted R2_score: ",np.round(adj_r2_score,3))
print("MAE: ",np.round(mean_absolute_error(y_test,lr_pred),3))
print("MSE: ",np.round(mean_squared_error(y_test,lr_pred),3))
mse = mean_squared_error(y_test,lr_pred)
rmse = np.sqrt(mse)
print("RMSE: ", np.round(rmse, 3))
#scores = cross_val_score(lassoReg,x_train,y_train,cv=10,scoring='neg_mean_squared_error')
#avg_score = np.mean(-scores)
#print("Average score using cross validation: ",avg_score)

R2 score:  1.0
Adjusted R2_score:  1.0
MAE:  11.478
MSE:  188.675
RMSE:  13.736

-------------------------------------------------------------------------------------X------------------------------------------------------------------------------------

Testing sample of x_test manually

In [95]:
sample = x.iloc[5786].values

In [96]:
y.iloc[5786]

288899

In [97]:
lr_pred = lassoReg.predict([sample])

/home/sarang/Desktop/PyEnv/Env01/Env01/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

In [98]:
lr_pred

array([288881.87400054536], dtype=object)